# System files
# --------------------
.DS_Store

# Build files
# --------------------
/node_modules
/src/easing.js

# Test files
# --------------------
/test

# Deprecated versions
# --------------------
/deprecated
