# ---------------------------------------------------------
# System files
# ---------------------------------------------------------

.DS_Store

# ---------------------------------------------------------
# Build files
# ---------------------------------------------------------

node_modules

# ---------------------------------------------------------
# Test files
# ---------------------------------------------------------

/test
/docs
