# ---------------------------------------------------------
# System files
# ---------------------------------------------------------

.DS_Store

# ---------------------------------------------------------
# Build files
# ---------------------------------------------------------

/node_modules

# ---------------------------------------------------------
# Bower files
# ---------------------------------------------------------

bower.json

# ---------------------------------------------------------
# Other files
# ---------------------------------------------------------

/test
/docs
